<!DOCTYPE html>
<html lang="en">

<head>
	<title>Materials</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="css/material.css">
	<script src="js/vue.js"></script>
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="#">Home</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
			aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
				<li class="nav-item active">
					<a class="nav-link" href="#">Materials <span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="operator.html">Operators</a>
				</li>
			</ul>
		</div>
	</nav>

	<div class="materials" id="materials">
		<div class="item" v-for="item in items">
			{{ item.name }}
			<br>
			需求
			<button v-on:click="needMinusone(item)">-</button>
			<input type="number" style="width: 30px;" v-model="item.need">
			<button v-on:click="needPlusone(item)">+</button>
			<br>
			已有
			<button v-on:click="haveMinusone(item)">-</button>
			<input type="number" style="width: 30px;" v-model="item.have">
			<button v-on:click="havePlusone(item)">+</button>
		</div>
	</div>

	<script>
		var material = new Vue({
			el: '#materials',
			data: {
				items: [
					{ name: "龙门币", need: 0, have: 0 },
					{ name: "采购凭证", need: 0, have: 0 },
					{ name: "高级作战记录", need: 0, have: 0 },
					{ name: "中级作战记录", need: 0, have: 0 },
					{ name: "初级作战记录", need: 0, have: 0 },
					{ name: "基础作战记录", need: 0, have: 0 },
					{ name: "双极纳米片", need: 0, have: 0 },
					{ name: "D32钢", need: 0, have: 0 },
					{ name: "聚合剂", need: 0, have: 0 },
					{ name: "扭转醇", need: 0, have: 0 },
					{ name: "三水锰矿", need: 0, have: 0 },
					{ name: "轻锰矿", need: 0, have: 0 },
					{ name: "研磨石", need: 0, have: 0 },
					{ name: "RMA70-12", need: 0, have: 0 },
					{ name: "提纯源岩", need: 0, have: 0 },
					{ name: "固源岩组", need: 0, have: 0 },
					{ name: "固源岩", need: 0, have: 0 },
					{ name: "源岩", need: 0, have: 0 },
					{ name: "改量装置", need: 0, have: 0 },
					{ name: "全新装置", need: 0, have: 0 },
					{ name: "装置", need: 0, have: 0 },
					{ name: "破损装置", need: 0, have: 0 },
					{ name: "聚酸酯块", need: 0, have: 0 },
					{ name: "聚酸酯组", need: 0, have: 0 },
					{ name: "聚酸酯", need: 0, have: 0 },
					{ name: "酯原料", need: 0, have: 0 },
					{ name: "糖聚块", need: 0, have: 0 },
					{ name: "糖组", need: 0, have: 0 },
					{ name: "糖", need: 0, have: 0 },
					{ name: "代糖", need: 0, have: 0 },
					{ name: "异铁组", need: 0, have: 0 },
					{ name: "异铁", need: 0, have: 0 },
					{ name: "异铁碎片", need: 0, have: 0 },
					{ name: "酮阵列", need: 0, have: 0 },
					{ name: "酮凝集组", need: 0, have: 0 },
					{ name: "酮凝集", need: 0, have: 0 },
					{ name: "双酮", need: 0, have: 0 },
					{ name: "聚合凝胶", need: 0, have: 0 },
					{ name: "凝胶", need: 0, have: 0 },
					{ name: "炽合金块", need: 0, have: 0 },
					{ name: "炽合金", need: 0, have: 0 },
					{ name: "技巧概要·卷3", need: 0, have: 0 },
					{ name: "技巧概要·卷2", need: 0, have: 0 },
					{ name: "技巧概要·卷1", need: 0, have: 0 },
					{ name: "先锋芯片组", need: 0, have: 0 },
					{ name: "先锋芯片", need: 0, have: 0 },
					{ name: "狙击芯片组", need: 0, have: 0 },
					{ name: "狙击芯片", need: 0, have: 0 },
					{ name: "术士芯片组", need: 0, have: 0 },
					{ name: "术士芯片", need: 0, have: 0 },
					{ name: "医疗芯片组", need: 0, have: 0 },
					{ name: "医疗芯片", need: 0, have: 0 },
					{ name: "特种芯片组", need: 0, have: 0 },
					{ name: "特种芯片", need: 0, have: 0 }
				]
			},
			methods: {
				needMinusone: function (item) {
					item.need = Number(item.need) - 1;
					if (item.need < 0) item.need = 0;
				},
				needPlusone: function (item) {
					item.need = Number(item.need) + 1;
				},
				haveMinusone: function (item) {
					item.have = Number(item.have) - 1;
					if (item.have < 0) item.have = 0;
				},
				havePlusone: function (item) {
					item.have = Number(item.have) + 1;
				}
			}
		}) 
	</script>

	<script src="js/jquery-3.5.1.js"></script>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>
</body>

</html>